<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DroidShow">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--
                    Accept only content:// archives delivered by trusted Android components
                    (DocumentProvider/file manager/share sheet). We intentionally do not expose
                    this as a browsable web deep link surface.
                -->

                <data android:scheme="content" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/x-rar-compressed" />
                <data android:mimeType="application/vnd.rar" />

                <!-- Common comic archive MIME variants from file managers/providers -->
                <data android:mimeType="application/vnd.comicbook+zip" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/vnd.comicbook-rar" />
                <data android:mimeType="application/x-cbr" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--
                    Extension fallback for providers that omit or mislabel MIME type.
                    Threat model: narrow to content:// only and accepted archive extensions;
                    avoid file:// and wildcard MIME matching to reduce unintended URI handling.
                -->

                <data android:scheme="content" android:pathPattern=".*\\.zip" />
                <data android:scheme="content" android:pathPattern=".*\\.rar" />
                <data android:scheme="content" android:pathPattern=".*\\.7z" />
                <data android:scheme="content" android:pathPattern=".*\\.cbz" />
                <data android:scheme="content" android:pathPattern=".*\\.cbr" />
            </intent-filter>
        </activity>
    </application>

</manifest>
